@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All of your data including but not limited to: email address, name, and location information will
    never be shared with any private sources. That is, I promise that I will never willingly give, share, or make viewable any
    user data to anyone other than me and the user themself. Your data is stored in a secure database accessible only
    by myself (the developer). Furthermore, passwords and other sensitive data are encrypted, meaning
    not even I can see them. If you have any further questions about the privacy or security of your
    data, please email me at aaron.althoff96@yahoo.com and I will happily address your concerns!</p>
