
@{
    ViewData["Title"] = "Developer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>A Little About Me...</h1>
<div class="backgroundWhite border">
    <p>Hello, and thank you for using my bowling stats tracking application! My name is Aaron Althoff, I am a recent 
    graduate of Purdue University where I studied Computer Science with a minor in Math. Bowling has always played an important role in 
    my life, I competed in Junior Gold 4 times, as well as bowling for Purdue for all 4 years of my undergraduate work. My goal for this project is to provide 
    bowlers of all skill levels with a place to store and track their games and stats over time. By providing bowlers with detailed information about 
    their performance, it can help them target specific areas of their game to work on during practice.</p>
    <p>I am always trying to learn new things, and this is my first real experience creating a web application. I am committed to 
    providing the best user experience possible, but there is always a chance that some bugs are hiding from me. It is important to me
    that I can take care of any issues you encounter so please make sure to use the "Report a bug!" page under the settings tab (found in the top right of the page).
    I am always looking for ways to improve the application, so if you have any ideas from new stats to track to completely new features, please send me an
    email (my contact information is below).</p>
    <p>Aaron Althoff</p>
    <p>email: aaron.althoff96@yahoo.com</p>
    <p>To see some more of my projects, visit <a href="http://www.github.com/aalthof1">my github</a></p>
</div>

