
@{
    ViewData["Title"] = "User Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Guide</h1>
<br />
<p>This Feature Coming soon. For help adding games, use the "i" button on the create game page.</p>
