/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.search-background {
    background: url(/images/dust_scratches.png);
}

.backgroundWhite {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.backgroundWhiteBorder {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.backgroundWhiteBorderPadding10 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

table.scorecard {
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    border: 1px solid;
    text-align: center;
    table-layout: fixed;
    margin-bottom: 40px;
}

    table.scorecard th, tr, td {
        padding: 0;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    table.scorecard th {
        border-bottom: 1px solid;
        background-color: #d3313a;
        height: 30px;
        color: #fff
    }

        table.scorecard th:not(:last-child) {
            border-right: 1px solid;
        }

    table.scorecard td {
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
    }

    table.scorecard tr td:not(:last-child) {
        border-right: 1px solid;
    }

    table.scorecard tr:nth-child(2) td:nth-child(even) {
        border-bottom: 1px solid;
    }

    table.scorecard tr:nth-child(2) td:last-child {
        border-bottom: 1px solid;
    }

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 35px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

    .text-divider span {
        background-color: white;
        padding: 1em;
    }

    .text-divider:before {
        content: " ";
        display: block;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #f7f7f7;
    }

    .help-dropdown {
        width: 300px !important;
        height: 400px !important;
    }

.circle-solid {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: black;
}

.circle-border {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid black;
}
